@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  background: #0f1724;
  color: #e6eef8;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.w-1px {
  width: 2px;
}

:root {
  --monaco-editor-background: #1e1e1e;
  border-bottom: 1px solid #d3dce6;

}

.header-title {
  font-size: x-large;
  font-weight: 600;

}

.dark {

  .border-t {
    border-color: rgb(51 65 85 / var(--tw-bg-opacity, 1));
  }

  .border-b {
    border-color: rgb(51 65 85 / var(--tw-bg-opacity, 1)) !important;
  }

  .border-r {
    border-color: rgb(51 65 85 / var(--tw-bg-opacity, 1));
  }
  .middle-divider {
    background-color: rgb(51 65 85 / var(--tw-bg-opacity, 1));
  }
  .middle-divider:hover {
    background-color: rgb(71 85 105 / var(--tw-bg-opacity, 1));
  }

  button {
    border-color: rgb(71 85 105 / var(--tw-bg-opacity, 1));
    color: rgb(203 213 225 / var(--tw-bg-opacity, 1));
  }
  select {
    border-color: rgb(71 85 105 / var(--tw-bg-opacity, 1));
    color: rgb(203 213 225 / var(--tw-bg-opacity, 1));
  }
  .filename-color {
    color: rgb(148 163 184 / var(--tw-bg-opacity, 1));
  }
  .filename-bg {
    background-color: #1e1e1e;
  }

}

.light {

  .border-t {
    border-color: #d3dce6;
  }

  .border-b {
    border-color: #d3dce6
  }
  .border-r {
    border-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
  }

  .middle-divider {
    background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
  }
  .middle-divider:hover {
    background-color: rgb(209 213 219 / var(--tw-bg-opacity, 1));
  }

  button {
    border-color: rgb(209 213 219 / var(--tw-bg-opacity, 1));
    color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
  }
  select {
    border-color: rgb(209 213 219 / var(--tw-bg-opacity, 1));
    color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
  }
  .filename-color {
    color: rgb(107 114 128 / var(--tw-bg-opacity, 1));
  }
  .filename-bg {
    background-color: #fffffe;
  }

  .bg-output-panel-header {
    background-color: #f9fafb !important;
  }
}